.title {
    text-align: center;
    color: white;
    font-family: "Raleway", "Serif", "Arial";
}

.navlist {
    float: left;
    list-style-type: none;
    width:12.5%;
}

.navlink {
    display: block;
    font-weight: bold;
    color: #cfcfcf;
    //background-color: #3d3d3d;
    font-family: "Raleway", "Serif", "Arial";
    text-decoration: none;
    //text-transform: uppercase;
    text-align: center;
    width: 150%;
    font-size: 150%;

    margin: 2px;
    padding: 2px;
    border: 2px;
    border-color: white;
    border-style: hidden;
}

.post_nav_link {
    text-decoration: none;
    margin: 2px;
    padding: 2px;
    border: 1px;
    border-color: white;
    border-style: hidden;
}

a:link {
    color: #cfcfcf;
}

a:visited {
    color: #b8b8b8;
}

a:hover {
    color: white;
}

a:active {
    color: red;
}

a.post_nav_link:visited {
    color: #cfcfcf;
}

a.post_nav_link:hover {
    color: white;
    border-style: solid;
}

a.post_nav_link:active {
    background-color: red;
}

a.navlink:link {
    color: #cfcfcf;
}

a.navlink:visited {
    color: #cfcfcf;
}

a.navlink:hover {
    color: white;
    border-style: solid;
    padding: 0px;
}

a.navlink:active {
    background-color: red;
    border-style: solid;
    padding: 0px;
}

body {
    background-color: #1d1d1d;
    font-family:"Georgia", "Serif", "Arial";
}

.text_box {
    margin-left: 20%;
    width: 75%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    color: white;
    border-style: none;
    text-align: left;
}

.footer {
    margin-left: 20%;
    width: 75%;
    color: white;
    font-family: "Serif", "Arial";
}
